@font-face {
  font-family: 'Living Colours';
  src: url('../font/Living-Colours.ttf');
}

@font-face {
  font-family: 'Gangsters';
  src: url('../font/Gangsters.ttf');
}

@font-face {
  font-family: 'Coco-Gothic';
  src: url('../font/Coco-Gothic.ttf');
}

body {
  background: rgba(186,54,208, 1); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, rgba(138, 243, 255, .5), rgba(186,54,208, .3)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, rgba(138, 243, 255, .5), rgba(186,54,208, .3)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, rgba(138, 243, 255, .5), rgba(186,54,208, .3)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, rgba(138, 243, 255, .5), rgba(186,54,208, .3)); /* Standard syntax */
}

h1 {
  font-family: 'Living Colours';
  text-align: center;
  margin-top: 50px;
  font-size: 50px;
}

h4 {
  font-family: 'Living Colours';
}

h2 {
  font-family: 'Gangsters';
  font-size: 85px;
  color: white;
  background: rgba(195, 180, 47, 0.5);
}

h3, P {
  font-family: 'Coco-Gothic';
  font-size: 25px;
}

.shop-now {
  position: relative;
}

.menu-bar {
  width: 100%;
  border: 1px solid black;
  overflow: auto;
  height: 50px;
}

.menu-bar h4 {
  float: left;
  padding-left: 100px;
  padding-right: 100px;
}

img {
  width: 1200px;
  position: absolute;
  left: 40px;
}

#weekend {
  position: absolute;
  top: 50px;
  left: 520px;
  color: white;
}

#maxin {
  position: absolute;
  top: 380px;
  left: 160px;
}

#sale {
  position: absolute;
  top: 520px;
  left: 500px;
  background: #66c6f4;
  border: solid white 3px;
  color: white;
  font-size: 20px;
  z-index: 9;
}

#chill {
  position: absolute;
  top: 500px;
  left: 200px;
}
